body{
  font-family: arial, sans-serif;
}

#searchNav{
  float:right;
  height: 3em;
  font-size: small;
}

#searchNav>*{
  margin-right: 2em;
}

#searchNav>a{
  color: black;
  text-decoration: none;
}

#searchNav>input[type="button"]{
  color: white;
  background-color: #4285f4;
  border: none;
  width: 6em;
  height: 2.5em;
  font-size: 13px;
  font-weight: bold;
  line-height: 28px;
  padding: 0 12px;
  font-family: arial, sans-serif;
}

a#appIcon{
  background-image: url("../images/app_icon.png");
  width:16px;
  height:18px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.clearBoth{
  clear: both;
  float: none;
}

.centered{
  margin: 0 auto;
  margin-top: 10%;
  width: 50%;
  text-align: center;
}

.centered > *{
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}

input[type="text"]#searchBox{
  width: 100%;
  height: 38px;
}

#searchButtons{
  display: inline-block;
}

#searchButtons>input[type="button"]{
  width: 11em;
  color: #757575;
  background-color: #f1f1f1;
  height: 36px;
  line-height: 27px;
  border: none;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
}

#bottomNav{
  height: 5%;
  position: fixed;
  top: 94%;
  left: 0;
  width:100%;
  background-color: #f2f2f2;
  padding-top: 1%;
  border-top: 1px solid #e4e4e4;
}

#bottomNav a{
  color: #666666;
  text-decoration: none;
  margin-right: 1em;
  font-size: small;
}

#leftSide{
  float: left;
  margin-left: 1em;
}

#rightSide{
  float: right;
}
